.content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Align elements vertically (heading above images) */
  border-left: 1px solid;
}

.content-item {
  padding: 10px;
}

.content-container .content-item .image-row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  align-items: center;
  margin-left: 15px;
}

.content-container .content-item .image-box {
  border: 1px solid #ccc; 
  margin-right: auto; 
  margin-bottom: 10px;
  max-width: 24%; 
  text-align: center; 
}

.content-container .content-item .image-box img {
  max-width: 100%; 
  height: auto; 
}

.detail {
  font-size: 12px; /* Larger font size */
  margin-left: 0;
  margin-top: 20px;
  padding-left: 14px;
  text-align: left;
  font-weight: bold;
}

.bullet-disc {
  margin-top: 0px;
  list-style-type: disc; /* Solid circle */
  padding-left: 10px;    /* Adjust padding as needed */
  font-weight: normal;
}